n8n/dssat-rag.json
{
  "name": "dssat-rag",
  "nodes": [
    {
      "parameters": {
        "model": "sfr-embedding-mistral",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        528,
        240
      ],
      "id": "a51a80e6-b60c-47d3-8db5-c00d5d097473",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "9H36tjyCTIQ8Krct",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "csvLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        704,
        112
      ],
      "id": "ef76dda1-87d1-445d-bccd-816e9182223f",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        976,
        -160
      ],
      "id": "985f3562-6a0b-4710-896f-eb940768e9ab",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1aac015e-af48-49cc-87cc-49d9c503fe09",
              "name": "output",
              "value": "=file processed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -48
      ],
      "id": "aca4dcb4-4742-461c-937f-9b2029cb86b1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chunkSize": 10000,
        "chunkOverlap": 2000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        992,
        272
      ],
      "id": "a3534340-e19f-4b7a-81c2-675666d20a9a",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "dssat-rag",
          "mode": "list",
          "cachedResultName": "dssat-rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        448,
        -80
      ],
      "id": "f8c6cfaf-53e6-4479-88e8-d69cc697416a",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "wD4R3gLnLmnVDJH1",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1fRxiU0kxRvqJ-5yWBdEpgfjs2yR_VEXz",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        64,
        -208
      ],
      "id": "cdeffc4f-9210-4121-9ebc-d2fd750b4c4c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dLLzOrN7OyLwxevy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "availableInChat": true,
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        32,
        48
      ],
      "id": "7b0b45e6-874a-4e12-8078-820918bc6829",
      "name": "When chat message received",
      "webhookId": "3f5b92f8-d3d8-4e30-9448-1f4dabff6542"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        -96
      ],
      "id": "2b49d3e5-d271-4dc6-8fa7-da68730e86a6",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dLLzOrN7OyLwxevy",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "50356ae7-559d-4037-a057-cec979e8cbc1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e5ed3fcfae590c08e2b659ffdcf5bb119ecc1ba505f221a34516883b89c3eb5"
  },
  "id": "aCjALR1SVErIxuqG",
  "tags": []
}