n8n/dssat-rag-webhook.json
{
  "name": "dssat-rag-webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "11603952-e739-4cbe-bb95-d496058175b4",
      "name": "Webhook",
      "webhookId": "c2a3f827-cb5a-4657-9087-b38c81521764"
    },
    {
      "parameters": {
        "model": "sfr-embedding-mistral",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        640
      ],
      "id": "e1bd3ef6-e588-4440-9162-48ab1380bbf7",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "9H36tjyCTIQ8Krct",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.userQuery }}",
        "options": {
          "systemMessage": "You are a DSSAT expert. answer the question, based on the tool, very concisely in upto 2 sentence. do not provide clutter or explanations, just the curated answer.\n\ndo NOT provide answers outside the available data, answer only from the provided data. for some queries you would need to relate different runs to drive insights and key points.\n\nIf the query involves crop that is not available, ask user to run dssat for new crop and provide overview file to process then only you can answer for that.\n\nif the query involves question with varying parameter values, if exact parameter value is not available, try to get answer from available data with nearest available parameter value and in your response, inform user to run dssat if exact parameter value to be used in calculation.\nif the parameter value is present already, then answer as usual.\n\nCultivar details are present in the run name column has values like, VSHT, LNG, VLNG etc.",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        256
      ],
      "id": "2328d681-1461-4f95-9855-d30fcdfb7538",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-oss-120b",
          "mode": "list",
          "cachedResultName": "gpt-oss-120b"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -64,
        480
      ],
      "id": "c0bcb1ab-b038-4658-863e-2c471e058f4e",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "9H36tjyCTIQ8Krct",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": {{ JSON.stringify($json.output) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        16
      ],
      "id": "1c1756f4-8686-4772-86b7-3b0ee594f5b1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with your data in qdrant tool",
        "qdrantCollection": {
          "__rl": true,
          "value": "dssat-rag",
          "mode": "list",
          "cachedResultName": "dssat-rag"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        560,
        432
      ],
      "id": "d314203c-5012-4bf2-ad3a-3256418dea5b",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "wD4R3gLnLmnVDJH1",
          "name": "QdrantApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ec2627e6-9df5-4144-bc01-37e86681a7f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e5ed3fcfae590c08e2b659ffdcf5bb119ecc1ba505f221a34516883b89c3eb5"
  },
  "id": "uVHcGTOQA9Ba7pvw",
  "tags": []
}